* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../images/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Listas*/
h2, .pregunta, footer .parrafo-footer, footer .link-footer, div, h1, .barra {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mapas*/
.logo {
  width: 100%;
}

.logo:hover {
  transform: rotate(360deg);
  transition: 1s;
}

ul {
  background-color: rgba(0, 0, 0, 0.89);
  display: grid;
  grid-template-columns: 10% repeat(3, 30%);
  padding-left: 0rem;
}

.barra {
  text-decoration: none;
  color: white;
  font-size: 125%;
}

/* inicio index */
/*Listas*/
h2, .pregunta, footer .parrafo-footer, footer .link-footer, div, h1, .barra {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mapas*/
h1 {
  font-size: 200%;
  margin: 3%;
  color: gray;
}

.coleccion {
  width: 85%;
  height: 60%;
}

.parrafo-section {
  color: white;
  border: 3px solid gray;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* fin index */
.disclaimer {
  display: none;
}

/* inicio footer */
h2, .pregunta, footer .parrafo-footer, footer .link-footer, .barra, h1, div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mapas*/
footer {
  display: grid;
  grid-template-columns: 5% 5% 5% 85%;
  grid-column-gap: 10px;
}
footer .link-footer .logos-redes {
  width: 50%;
}
footer .parrafo-footer {
  color: silver;
}

/* fin footer */
/*Me permite agregar un parametro vacio al cuel voy a darle un valor en elfuturo*/
/*Mapas*/
.imagenes-mujer {
  margin-top: 10%;
  margin-bottom: 10%;
}

@media screen and (min-width: 1024px) {
  .card-img-top-mujer:hover {
    transform: scale(1.5);
    border: 2px solid gold;
    transition: 1s;
  }
}
@media screen and (max-width: 768px) {
  .card {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
/* fin pagina mujer */
/* inicio pagina nosotros */
/*Listas*/
.pregunta {
  color: white;
  font-size: 150%;
  margin: 10% 0;
}

.seccion-nosotros {
  display: grid;
}

.parrafo-nosotros {
  color: gray;
}

.parrafo-nosotros:hover {
  color: gold;
}

h2, .barra, h1, div, footer .link-footer, footer .parrafo-footer, .pregunta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}
.container .logo-producto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5%;
}
.container .logo-producto a {
  display: flex;
  justify-content: space-around;
}
.container .logo-producto a img {
  width: 50%;
}

h2 {
  color: white;
  font-size: xx-large;
}

#polos-hombre {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
@media screen and (min-width: 1024px) {
  #polos-hombre img {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  #polos-hombre img {
    width: 100%;
  }
}
#polos-hombre p {
  color: white;
}

#sudadera-hombre {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
@media screen and (min-width: 1024px) {
  #sudadera-hombre img {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  #sudadera-hombre img {
    width: 100%;
  }
}
#sudadera-hombre p {
  color: white;
}

#pantalon-hombre {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
@media screen and (min-width: 1024px) {
  #pantalon-hombre img {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  #pantalon-hombre img {
    width: 100%;
  }
}
#pantalon-hombre p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
