@import "../base/listas";
@import"../base/extends";
.logo {
    width: 100% 
}
.logo:hover {
    transform: rotate(360deg);
    transition: 1s;
}
ul{
    background-color: black;
    display: grid;
    grid-template-columns: 10% repeat(3,30%);
}
.barra{
    @extend %justificar;
    text-decoration: none;
    color: nth($colores,2);   
    font-size: 125%;
}