@import "../base/listas";
@import"../base/extends";
@import"../base/maps";

.logo {
    width: 100% 
}
.logo:hover {
    transform: rotate(360deg);
    transition: 1s;
}
ul{
    background-color: black;
    display: grid;
    grid-template-columns: map-get($header-col,columnas);
}
.barra{
    @extend %justificar;
    text-decoration: none;
    color: nth($colores,2);   
    font-size: 125%;
}