/* inicio index */
@import "../base/listas";
@import "../base/extends";
h1 {
    @extend %justificar;
    font-size: 200%;
    margin: 3%;
    color:nth($colores,6);
}

div {
    @extend %justificar;
}
.coleccion {
    width: 85%;
    height: 60%;
}

.parrafo-section {
    color: nth($colores,2);
    border: solid 3px silver  ;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* fin index */