/* inicio pagina nosotros */
.pregunta {
    color: white;
    font-size: 150%;
    margin: 10% 0;
}
.seccion-nosotros {
    display: grid;
    grid-template-columns: 50%;
}
.parrafo-nosotros {
    color: grey;
    display: flex;
}
.parrafo-nosotros:hover {
    transform: scale(1.5);
    transition: 1.5s;
    color: gold;

}