@import"../base/mixins";
@import"../base/maps";

.imagenes-mujer {
    @include espacios(10%,10%)
}

@media screen and (min-width:1024px) {
    .card-img-top-mujer:hover {
        transform: scale(1.5);
        border: 2px solid gold; 
        transition: 1s;
        
    }
}

@media screen and (max-width:768px) {
    .card {
        @include espacios(10%,10%)
    }
}


/* fin pagina mujer */