/* inicio pagina mujer */

.imagenes-mujer {
    margin-top: 10%;
    margin-bottom: 10%;
}

@media screen and (min-width:1024px) {
    .card-img-top:hover {
        transform: scale(1.5);
        border: 2px solid gold; 
        transition: 1s;
        
    }
}

@media screen and (max-width:768px) {
    .card {
       margin-top: 10%;
       margin-bottom: 10%; 
        
    }
}


/* fin pagina mujer */