%justificar {
    display: flex;
    justify-content: center;
    align-items: center;
}



// .error {
//     background-color: red;
//     /*Heredad la extencion*/
//     @extend %mensaje;
//     @extend %border-mensaje;
// }
